<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fa fa-address-book"></i> My Friends</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Get new Friends</h2>
      <span class="text-light"></span>
    </div>
    <%- include('include/_newUser') %>
    <!-- add user form -->
    <%- include('include/_form') %>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
