<form action="/new-user" method="GET" id="gen_user">
  <div class="new_user">
    <div class="form-group">
      <label for="gender" class="text-light">Gender</label>
      <div class="radio inline">
        <input type="radio" id="radio-2" name="gender" value="male" />
        <label for="radio-2" class="radio-label">Male</label>
      </div>
      <div class="radio inline">
        <input type="radio" id="radio-3" name="gender" value="female" />
        <label for="radio-3" class="radio-label">Female</label>
      </div>
      <br />
      <br />
      <div class="form-group">
        <button class="primary ghost" type="submit">Generate New</button>
      </div>
    </div>
  </div>
</form>
