<form action="/new-user" method="GET" id="gen_user">
  <div class="new_user">
    <div class="form-group">
      <label for="gender" class="text-light">Gender</label>
      <select id="gender" name="gender" class="select">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div class="form-group">
        <button class="primary ghost" type="submit">Random User</button>
      </div>
    </div>
  </div>
</form>
